SERPAPI_KEY="YOUR_SERPAPI_KEY"
IMGBB_API_KEY="YOUR_IMGBB_API_KEY"
POLYGON_AMOY_RPC_URL="YOUR_POLYGON_AMOY_RPC_URL"
POLYGON_AMOY_RPC_KEY="YOUR_POLYGON_AMOY_RPC_KEY"
WALLET_PRIVATE_KEY="YOUR_WALLET_PRIVATE_KEY"
POST_ANCHOR_CONTRACT_ADDRESS="YOUR_POST_ANCHOR_CONTRACT_ADDRESS"